:root{
    --red: #D72638;
    --blue: #0094C6;
    --green: #2A9134;
    --black: #0D1821;
    --white: #F0F4EF;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    margin: 0%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content{
    margin: 0% 24%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field-container{
    display: flex;
    justify-content: space-between;
}

.button{
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover{
    color: var(--white);
    background-color: var(--black);
}

.button:active{
    background-color: #0d1821bd;
}