.grid-container {
  display: grid;
  gap: 0.1rem;
}

.grid-header-row,
.row-container {
  display: grid;
  grid-template-columns: auto repeat(10, 1fr);
}

.row-container {
  gap: 0.1rem;
}

.corner-cell {
  width: 2.5rem;
  height: 2.5rem;
}

.row-label,
.col-label {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.col-label {
  justify-content: center;
  align-items: flex-end;
}

.row-label {
  justify-content: flex-end;
  align-items: center;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);
  border: 0.1rem solid var(--black);
  cursor: pointer;
}

.role-title {
  font-size: 2rem;
  color: var(--black);
  margin: 0.5rem 0rem;
  padding: 0.1rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.turn{
  background-color: var(--green);
  border-radius: 10px;
  margin-left: 16%;
  margin-right: 16%;
}

.ship {
  background-color: var(--green);
}

.ship-hit {
  background-color: var(--red);
}

.water-hit {
  background-color: var(--blue);
}
