.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: gray;
    gap: 1px;
    border: 0.1rem solid gray;
}

.cell{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
}