.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: var(--black);
  gap: 1px;
  border: 0.1rem solid var(--black);
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);
}

.role-title {
  font-size: 2rem;
  color: var(--black);
  margin: 0.5rem 0rem;
  text-decoration: underline;
}
