form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

form>div{
    display: flex;
    flex-direction: column;
}

#ship-start, #ship-end, .submit-button{
    max-width: 15rem;
    min-width: 5rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.2rem;

}

input:valid{
    border-color: var(--green);
}

input:invalid{
    border-color: var(--red);
}